li,
ul{
    margin: 0;
    padding: 0;
}

.profile{
    width: auto;
    text-align: center;
    justify-content: center;
    display: flex;   
}

.list {
    list-style-type: none;
    font-size: 13px;
    font-family: cursive;
    font-weight: bold;
}
.avatar{
  width: 200px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 50%;
  box-shadow: 10px 3px 3px rgba(0, 0, 0, 0.4);
}
.name{
  font-size: 18px;
  font-weight: var(--bold-font-weight);
  color: var(--secondary-text-color);
  font-family: cursive;
  font-weight: bold;
}